.image{
    float:left;
}

.newCampusBlock{
    margin-top: 200px;
    padding: 0 20px;
    
}

.campusText{
    margin: auto;
    width: 65%;
}

.campusImage{
    width: 100%;
    align-items: center;
    text-align: center;
}