*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto Slab', serif;
	list-style: none;
	text-decoration: none;
}

header{
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1000;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 33px 9%;
	background-image: linear-gradient(to right, #F4EDE4, #ffffff);
}

header img{
	width: 40px;
	height: auto;
	margin-right: 800px;
}

body{
	background-image: linear-gradient(to right, #F4EDE4, #ffffff);
}

.logo{
	font-size: 25px;
	font-weight: 700;
	color:black;	
}

.navlist{
	display: flex;
}

.navlist a{
	color: black;
	margin-left: 60px;
	font-size: 15px;
	font-weight: 600;
	border-bottom: 2px solid transparent;
	border-radius: 10px;
	transition: all .55s ease
}

.navlist a:hover{
	color: #7A3434;
}

#colorStay{
	color: #7A3434;
	border-bottom: 2px solid transparent;
}

#menu-icon{
	color: black;
	font-size: 30px;
	z-index: 10001;
	cursor: pointer;
	display: none;
}	

.hero{
	height: 100%;
	width: 100%;
	min-height: 100vh;
	position: relative;
	align-items: center;
	margin-top: 100px;
	gap: 2rem;
}

section{
	padding: 0 19%;
}

.hero-text h1{
	font-size: 75px;
	color: #7A3434;
	line-height: 1;
	display: flex;
	flex: none;
	position: relative;
	justify-content: center;
	
}

.hero-text p{
	font-size: 34px;
	color: black;
	line-height: 1.5;
	margin-bottom: 40px;
}

.hero-text a{
	display: block;
	color: black;
	border: 5px solid transparent;
	padding: 0 10px;
	line-height: 1.6;
	font-size: 35px;
	font-weight: 500;
	border-radius: 30px;
	transition: all .55s ease;
	display: flex;
	flex: none;
	position: relative;
	justify-content: center;


}

.hero-text a:hover{
	background: transparent;
	transform: translateX(20px);
}

.hero-text a.ctaa{
	margin-bottom: 20px;
}

.hero-text a.ctaa i{
	font-size: 30px;
	margin-right: 100px;
	vertical-align: middle;
	color:  #824945;
}

.hero-text{
	padding-top: 100px;
	text-align: center;
}

.hero-image{
	text-align: center;
}

.hero-image img{
	width: 400px;
	height: auto; 
	border-radius: 30px;
	margin-top: 20px;
	border: 4px solid #824945;
}

.footer{
	color: black;
	text-align: center;
	padding: 0 5%;
	transform: translateY(-120%);
}

@media (max-width: 1535px){
	header{
		padding: 15px 3%;
		transition: .2s;
	}
	.icons{
		padding: 0px 3%;
		transition: .2s;
	}
	header img{
		width: 40px;
		height: auto;
		margin-right: auto;
	}
}

@media (max-width: 1460px){
	section{
		padding: 0 12%;
		transition: .2s;
	}
	header img{
		width: 40px;
		height: auto;
		margin-right: auto;
	}
	
	.hero{
		margin-top: 100px;
	}
}

@media (max-width: 1340px){
	.hero-image img{
		width: 100%;
		height: auto;
	}
	.hero-text h1{
		font-size: 30px;
		margin: 0 0 30px;
	}
    header img{
        width: 40px;
        height: auto;
        margin-right: auto;
    }
	.hero{
		margin-top: 100px;
	}
}

@media (max-width: 1195px){
	section{
		padding: 0 3%;
		transition: .2s;
	}
	.hero-text{
		padding-top: 100px;
		text-align: center;
	}
    header img{
        width: 40px;
        height: auto;
        margin-right: auto;
    }
	.hero-image{
		text-align: center;
		width: 100%;
	}
	.hero{
		height: 100%;
		gap: 1rem;
		grid-template-columns: 1fr;
		margin-top: 100px;
	}
	.icons{
		display: none;
	}
}

@media (max-width: 990px){
		#menu-icon{
			display: block;
		}
		.navlist{
			position: absolute;
			top: 100%;
			right: -100%;
			width: 100px;
			height: 27vh;
			background: #F4EDE4;
			border-radius: 30px;
			display: flex;
			align-items: center;
			flex-direction: column;
			padding: 5px 20px;
			transition: all .55s ease;
		}
        header img{
			width: 40px;
			height: auto;
			margin-right: auto;
		}
		.navlist a{
			margin-left: 0;
			display: block;
			margin: 8px 0;	
		}
		.navlist.open{
			right: 0;
		}
}

@media (max-width: 680px){
	.hero-image img{
		width: 100%;
		height: auto;
	}

	.hero-text a {
		font-size: 20px;
	}
	
	.hero{
		margin-top: 120px;
	}
}

@media (max-width: 350px){
	.hero-text a {
		margin-bottom: 10px;
		text-align: center;
	}
}

@media (max-width: 440px){
	.hero-text a{
		font-size: 16px;
	}
	
	.hero-text a.ctaa i{
		font-size: 20px;
		margin-right: 40px;
	}
}