*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto Slab', serif;
	list-style: none;
	text-decoration: none;
}

header{
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1000;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 33px 9%;
	background: #F4EDE4;
	background-image: linear-gradient(to right, #F4EDE4, #ffffff);
}

header img{
	width: 40px;
	height: auto;
	margin-right: 800px;
}

body{
	background-image: linear-gradient(to right, #F4EDE4, #ffffff);
}

.navlist{
	display: flex;
}

.navlist a{
	color: black;
	margin-left: 60px;
	font-size: 15px;
	font-weight: 600;
	border-radius: 10px;
	border-bottom: 2px solid transparent;
	transition: all .55s ease
}

.navlist a:hover{
	color: #7A3434;
}

#colorStay{
	color: #824945;
	border-bottom: 2px solid transparent;
}

#menu-icon{
	color: black;
	font-size: 30px;
	z-index: 10001;
	cursor: pointer;
	display: none;
}	

.hero{
	height: 100%;
	width: 100%;
	min-height: 100vh;
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 2rem;
}

section{
	padding: 0 19%;
}

#center{
	text-align: center;
}

#fontsize{
	font-size: 35px;
}

#underline{
	text-decoration: underline;
}

.hero-text h1{
	font-size: 50px;
	color: #7A3434;
	white-space: nowrap; /* Keeps the content on a single line */
	line-height: 1;
	margin: auto;
}

.hero-text p{
	font-size: 20px;
	color: black;
	line-height: 1.5;
	margin-top: 50px;
	margin-bottom: 40px;
}

.hero-text a{
	display: inline-block;
	color: #F4EDE4;
	background: #7A3434;
	border: 1px solid transparent;
	padding: 10px 30px;
	margin-bottom: 10px;
	line-height: 1.6;
	font-size: 12px;
	font-weight: 500;
	border-radius: 30px;
	text-transform: uppercase;
	transition: all .55s ease;
}

.hero-text a:hover{
	background: transparent;
	border: 1px solid black;
	transform: translateX(20px);
}

.hero-text a.ctaa{
	margin-left: 20px;
}

.hero-text a.ctaa i{
	margin-right: 5px;
	vertical-align: middle;
}

.hero-image img{
	width: 400px;
	height: auto;
	margin-left: 130px;
	border-radius: 30px;
}

.icons{
	position: absolute;
	top: 50%;
	padding: 0 9%;
	transform: translateY(-50%);
}

.icons i{
	display: block;
	margin: 26px 0;
	font-size: 24px;
	color: black;
	transition: all .50s ease;
}

.icons i:hover{
	color:  #824945;
	transform: translateY(-5px);	
}

.footer{
	color: black;
	text-align: center;
	padding: 0 5%;
	transform: translateY(-120%);
}

@media (max-width: 1535px){
	header{
		padding: 15px 3%;
		transition: .2s;
	}
	.icons{
		padding: 0px 3%;
		transition: .2s;
	}
	header img{
		width: 40px;
		height: auto;
		margin-right: auto;
	}
}

@media (max-width: 1460px){
	section{
		padding: 0 12%;
		transition: .2s;
	}
	header img{
		width: 40px;
		height: auto;
		margin-right: auto;
	}
}

@media (max-width: 1340px){
	.hero-text h1{
		font-size: 30px;
		margin-top: 80px;
	}
	header img{
		width: 40px;
		height: auto;
		margin-right: auto;
	}
}

@media (max-width: 1195px){
	section{
		padding: 0 3%;
		transition: .2s;
	}
	header img{
		width: 40px;
		height: auto;
		margin-right: auto;
	}
	.hero-text{
		padding-top: 50px;
		text-align: center;
	}
	.hero-image img{
		text-align: center;
		width: 100%;
		margin-left: auto;
	}
	.hero{
		height: 100%;
		gap: 1rem;
		grid-template-columns: 1fr;
	}
	.icons{
		display: none;
	}
	#fontsize{
		font-size: 30px;
	}
}

@media (max-width: 990px){
		#menu-icon{
			display: block;
		}
		.navlist{
			position: absolute;
			top: 100%;
			right: -100%;
			width: 100px;
			height: 28vh;
			background: #F4EDE4;
			border-radius: 30px;
			display: flex;
			align-items: center;
			flex-direction: column;
			padding: 5px 30px;
			transition: all .55s ease;
		}
		.hero-image img{
			width: 100%;
			height: auto;
			margin-left: auto;
		}
		header img{
			width: 40px;
			height: auto;
			margin-right: auto;
		}
		.navlist a{
			margin-left: 0;
			display: block;
			margin: 8px 0;	
		}
		.navlist.open{
			right: 0;
		}
		#fontsize{
			font-size: 26px;
		}
}

@media (max-width: 680px){
	.hero-image img{
		width: 100%;
		height: auto;
		margin-left: auto;
	}
}

@media (max-width: 445px){
	.hero-text h1 {
		margin-bottom: 30px;
		text-align: center;
	}
	.hero-text a {
		margin-bottom: 10px;
		text-align: center;
	}
	.hero-image img{
		text-align: center;
		width: 100%;
		margin-left: auto;
	}
}